/*
 * Copyright 2013-2017 smartics, Kronseder & Reiner GmbH
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* CSS for dashboard (same height for panels) */


/* CSS for homepage (padding of ul) */

.projectdoc-aside-panel.projectdoc-addon-app {
	border-color: #1b4abe;
}
.projectdoc-aside-panel.projectdoc-addon-app .projectdoc-aside-panel-header {
	background-color: #1b4abe;
	border-bottom-color: #1b4abe;
	border-bottom-width: 1px;
	color: white;
	border-width: 0px;
}
.projectdoc-aside-panel.projectdoc-addon-app .projectdoc-aside-panel-content {
	border-width: 0px;
  	background-color: #FFFFF0;
}
